.item__wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.items {
display: flex;
justify-content: center;
}
@media (max-width: 700px) {
    .items{
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
}
